@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@font-face{
    font-family: 'Gilroy';
    src: url(/gilroy/Gilroy-Regular.ttf);
}
@font-face{
    font-family: 'Konexy Personal Use';
    src: url(/KonexyPersonalUse.otf);
}